@charset "UTF-8";

/* id=# class=. */

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    background-color: hotpink;
    text-align: center;
}


h2 {
    color: brown;
    text-align: center;
}

h3 {
    color:blueviolet
}

.intermediario {
    color: chocolate;
}

.importante {
    background-color: blueviolet;
    border-radius: 2em;
    padding: 0.19em;
    color: white;
}

p {
    text-align: justify;
}